#player{
    width: 3cm ;
    height: 3cm ;
    position: absolute;
    transition: 1s ;
}
#matar, #matar2, #matar3, #matar4 {
    width: 3cm ;
    height: 3cm ;
    position: absolute;
}
body {
    overflow: hidden;
}
